<!-- //base template for to do list -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <h1><%= KindOfDay %></h></h1>
<ul>
  <li>Buy food</li>
  <li>Cook food</li>
  <li>Eat food</li>
</ul>
<form class="" action="/>" method="post">
<input type="text" name="newval" >
<button type="button" name="button">Add</button>

</form>
  </body>
</html>
