<!-- //base template for to do list -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
  </head>
  <body>
    <h1>Its is a <%= KindOfDay %></h></h1>
  </body>
</html>
