<!-- //base template for to do list -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>List</title>
  </head>
  <body>
    <div class="box" id="heading">
           <h1><%= KindOfDay %> </h1>
    </div>
   <div class="box">
       <%  for(let i=0; i<newItems.length; i++){  %>
         <div class="item">
           <input type="checkbox">
           <p><%= newItems[i] %></p>
           </div>
       <%  }  %>
          <form class="" action="/" method="post">
          <input type="text" name="newVal" placeholder="New Item" autocomplete="off" >
          <button type="submit" name="button">+</button>
          </form>
     </div>


   </div>
  </body>
</html>
